{# app/Resources/views/page/admin.html.twig #}
{% extends "page/layoutadmin.html.twig" %}

{% block fos_admin_content %}
    <br />

    <h3>Formulaire d'ajout d'URL :</h3>

    {{ form_start(form, {'attr': {'id': 'form'} } ) }}
    {{ form_errors(form) }}

    {{ form_row(form.url, {'id': 'form_url_id'}) }}
    {{ form_row(form.save, {'id': 'form_save_id'}) }}

    {{ form_end(form) }}

    <p>Et ici je peux voir la liste complète des urls :</p>

    {{ render(controller('UserBundle:ListUrl:showUrl')) }}
{% endblock fos_admin_content %}

